<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>查看照片</title>
	<meta name="description" content="">
	<meta name="author" content="templatemo">
	
	<link rel="stylesheet" type="text/css" href="../chamber_erp_css/font-awesome.css?ver=1.0"/>
	<link rel="stylesheet" type="text/css" href="../chamber_erp_css/bootstrap.min.css?ver=1.0">
  <link rel="stylesheet" type="text/css" href="../js/alertify/alertify.core.css"/>
  <link rel="stylesheet" type="text/css" href="../js/alertify/alertify.bootstrap.css"/>
	
  <script src="../js/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="../js/moment.js" type="text/javascript" charset="utf-8"></script>
  
  <script src="../js/ajax_janus.js" type="text/javascript" charset="utf-8"></script>
  <script src="../js/column_janus_mobile.js" type="text/javascript" charset="utf-8"></script>
  <script src="../js/alertify/alertify.js" type="text/javascript" charset="utf-8"></script>
  
  <script src="../widgets/lhgdialog/lhgdialog.js?skin=iblue" type="text/javascript" charset="utf-8"></script>
  <script src="../js/janus_dialog.js" type="text/javascript" charset="utf-8"></script>
	
	<script type="text/javascript " src="../My97DatePicker/WdatePicker.js"></script>


</head>
<!--#      
<east:service beanName="eastUtilService" methodName="decodeUriString" id="_decodeUrl">
  <east:para name="_sourceObj" value="${requestEx.imgFullUrl}" type="String" />
</east:service>
#-->
<body>
	<div class="center-block" style="width: 540px;">
    <div style="width:500px;margin: 0 auto;">
      <!--#<JREMOVE>#-->
      <img src="../chamber_erp_img/approval_icon.png"  style="width:480px; height:320px;"/>
      <!--#</JREMOVE>#-->
      <!--#
        <img src="${_decodeUrl}"  style="width:480px; height:320px;"/>
      #-->
    </div>
	</div>
</body>

</html>