<!--#<JREMOVE>
	顾客修改登录密码。
	id:登陆的顾客id
	cpassword:原密码
	newPassword：新密码
</JREMOVE>#-->
<east:service beanName="eastUtilService" methodName="setValue" id="hasError">
	<east:para name="_value" value="0" type="Object" />
</east:service>
<east:service beanName="eastUtilService" methodName="setValue" id="msg">
	<east:para name="_value" value="" type="Object" />
</east:service>

<east:service beanName="pmsService.pmsDaoImpl.daoBsNewsInfo" methodName="getOneByIdAlwaysWithClass" id="_customer">
	<east:para name="tnewsid" value="${requestEx.id}" type="String" />
	<east:para name="className" value="colCustomer" type="String" />
</east:service>

<s:if test="${_customer eq null || _customer.id eq null || _customer.id eq ''}">
	<east:service beanName="eastUtilService" methodName="setValue" id="hasError">
		<east:para name="_value" value="1" type="Object" />
	</east:service>
	<east:service beanName="eastUtilService" methodName="setValue" id="msg">
		<east:para name="_value" value="顾客不存在，请登录后重试。" type="Object" />
	</east:service>
</s:if>

<s:if test="${hasError eq '0'}">
	<s:if test="${_customer.ext.cpassword ne requestEx.cpassword}">
		<east:service beanName="eastUtilService" methodName="setValue" id="hasError">
			<east:para name="_value" value="1" type="Object" />
		</east:service>
		<east:service beanName="eastUtilService" methodName="setValue" id="msg">
			<east:para name="_value" value="原密码不正确。${_customer.ext.cpassword}/${requestEx.cpassword}" type="Object" />
		</east:service>
	</s:if>
</s:if>

<s:if test="${hasError eq '0'}">
	<MACRO>
		Jsp.call("/bspms_jsp/bspms_funs_html/ajax_set_field1_fun.jsp","${_customer}","cpassword","${requestEx.newPassword}");

		Jsp.call("/bspms_jsp/bspms_funs_html/ajax_save_bean_fun.jsp" ,"${_customer}");
	</MACRO>
</s:if>
	
<s:if test="${hasError eq '0'}">
	{"state":"success"}
</s:if>
<s:else>
	{"state":"failure", "msg":"${msg}"}
</s:else>