<!--#<JREMOVE>
  顾客退出。
</JREMOVE>#-->
<MACRO>
  Jsp.includejsp("/chamber_jsp/chamber_const_html/global_const_define.jsp");
</MACRO>

<east:service beanName="pmsService"  methodName="toSession"  id="idResult">
  <east:para name="_id"  value="${LOGIN_CUSTOMER_SESSION}" type="String" />
  <east:para name="_content" value="" type="java.lang.Object" />
</east:service>
<east:service beanName="pmsService"  methodName="toSession"  id="idResult">
  <east:para name="_id"  value="${LOGIN_CUSTOMER_SESSION_OPENID}" type="String" />
  <east:para name="_content" value="" type="java.lang.Object" />
</east:service>

<east:service beanName="pmsService"  methodName="sessionInvalid"  id="idResult">
</east:service>	

{"state":"success","callbackUrl":"${requestEx.callbackUrl}"}  