<!--#<JREMOVE>
	检索顾客地址列表。
	参数:
	ccustomerNo
	pageNo：可选，默认1
	pageSize：可选，默认999999
	orderBy: 可选, 默认id降序
	extIsNumber: orderBy设置时，必须设置。含有：排序字段是否是数字。
	ascDesc: orderBy设置时，必须设置。可选值：asc/desc
</JREMOVE>#-->
<%@ page trimDirectiveWhitespaces="true" buffer="128kb" autoFlush="true" language="Java" pageEncoding="UTF-8" %>

<MACRO>
	Jsp.call("/chamber_jsp/chamber_funs_html/fun_delivery_address.jsp","${requestEx.pageNo}","${requestEx.pageSize}","${requestEx.orderBy}","${requestEx.extIsNumber}","${requestEx.ascDesc}","${requestEx.ccustomerNo}");
	Jsp.result("rsResult","rsPagination");
</MACRO> 
	
<c:forEach items="${rsPagination}" var="_one" varStatus="_status">
	<east:service beanName="eastUtilService" methodName="setValue" id="totalRecords">
		<east:para name="_value" value="${_one.totalRecords}" type="Object" />
	</east:service> 
	<east:service beanName="eastUtilService" methodName="setValue" id="totalPages">
		<east:para name="_value" value="${_one.totalPages}" type="Object" />
	</east:service> 
	<s:if test="${(requestEx.pageNo + 1) le totalPages}">
		<east:service beanName="eastUtilService" methodName="setValue" id="hasMore">
			<east:para name="_value" value="1" type="Object" />
		</east:service>
	</s:if>
	<s:else>
		<east:service beanName="eastUtilService" methodName="setValue" id="hasMore">
			<east:para name="_value" value="0" type="Object" />
		</east:service>
	</s:else>
</c:forEach>

<?xml version="1.0" encoding="UTF-8"?>
<items xmlns="http://foo.com">
	<state>success</state>
	<error_code>0</error_code>
	<data_size>${fn:length(rsResult)}</data_size>
	<page_count>${totalPages}</page_count>
	<total_records>${totalRecords}</total_records>
	<has_more>${hasMore}</has_more>
	<c:forEach items="${rsResult}" var="_one" varStatus="_status">
		<item>
			<id><![CDATA[${_one.id}]]></id>
			<ccustomerNo><![CDATA[${_one.ccustomerNo}]]></ccustomerNo>
			<cname><![CDATA[${_one.cname}]]></cname>
			<cphone><![CDATA[${_one.cphone}]]></cphone>
			<cprovince><![CDATA[${_one.cprovince}]]></cprovince>
			<ccity><![CDATA[${_one.ccity}]]></ccity>
			<carea><![CDATA[${_one.carea}]]></carea>
			<caddress><![CDATA[${_one.caddress}]]></caddress>
			<cisDefault><![CDATA[${_one.cisDefault}]]></cisDefault>
			<chouseType><![CDATA[${_one.chouseType}]]></chouseType>
		</item>
	</c:forEach>
</items>