<MACRO>
  Jsp.includejsp("/chamber_jsp/chamber_const_html/global_const_define.jsp");
</MACRO>

<east:service beanName="pmsService" methodName="fromSession"  id="idCustomerBean">
	<east:para name="sessionName"  value="${LOGIN_CUSTOMER_SESSION}" type="String" />
</east:service>
	
<s:if test="${idCustomerBean eq null || idCustomerBean.ext.ccustomerNo eq '' || idCustomerBean.ext.ccustomerNo eq null}">
	<east:service beanName="pmsService" methodName="fromSession"  id="__s9">
		<east:para name="sessionName"  value="s9" type="String" />
	</east:service>
	<east:service beanName="eastUtilService" methodName="setValue"  id="__s9">
		<east:para name="_val" value="${__s9}" type="Object" />
		<east:para name="_valDefault" value="${s9}" type="Object" />
	</east:service>    
	<s:if test="${__s9 ne null &&  __s9 ne ''}">
		<MACRO>
			Jsp.call("/champer_jsp/champer_funs_html/fun_customer_one.jsp","","${__s9}");
			Jsp.result("__hasError","__msg","__hasData","idCustomerBean");
		</MACRO>
		<s:if test="${__hasError eq '0' && __hasData eq '1'}">
			<east:service beanName="pmsService" methodName="toSession"  id="idResult">
				<east:para name="sessionName"  value="s9" type="String" />
				<east:para name="_customer"  value="${__s9}" type="Object" />
			</east:service>
		</s:if>
	</s:if>
	<s:else>
		<script>
			function is_weixn(){
				var ua = navigator.userAgent.toLowerCase();
				if(ua.match(/MicroMessenger/i)=="micromessenger") {
					return true;
				} else {
					return false;
				}
			}
			 
			function wx_verify_url(){
				var _back_url = encodeURIComponent(top.location.href);		  
				var _verify_url = "./champer/verify_wx.jsp?p2="+_back_url;
				top.location.href = _verify_url; 	
			}
			
			/*#
			if(is_weixn() == true)   {
				<s:if test="${sessionScope.openId eq null || sessionScope.openId eq ''}">
					setTimeout(wx_verify_url, 50);	
				</s:if>
				<s:else>
					<MACRO>
						Jsp.call("/champer_jsp/champer_funs_html/fun_customer_create_by_openid.jsp","${sessionScope.openId}");
						Jsp.result("idCustomerBean");
					</MACRO>
					<east:service beanName="pmsService" methodName="toSession"  id="idResult">
						<east:para name="sessionName"  value="${LOGIN_CUSTOMER_SESSION}" type="String" />
						<east:para name="_customer"  value="${idCustomerBean}" type="Object" />
					</east:service>
				</s:else>
			}else{
				top.location.assign("../champer_weixin_html/login.html");
			}
			#*/ 
		</script>
	</s:else>
</s:if>
 
 