<!--#<JREMOVE>
  保存新闻。
</JREMOVE>#-->
<east:service beanName="eastUtilService" methodName="setValue"  id="hasError">
  <east:para name="_value" value="0" type="Object" />
</east:service>
<east:service beanName="eastUtilService" methodName="setValue"  id="msg">
  <east:para name="_value" value="" type="Object" />
</east:service>


<s:if test="${hasError eq '0'}">
  <s:if test="${requestEx.id eq '0'}">
    <east:service beanName="pmsService.pmsDaoImpl.daoBsNewsInfo" methodName="createBeanExByClassName" id="_news">       
      <east:para name="className" value="colNews" type="String" />
    </east:service>
    <east:service beanName="eastUtilService" methodName="getNowDate"  id="_nowDate">
    </east:service>
    <MACRO>
      Jsp.call("/bspms_jsp/bspms_funs_html/ajax_set_field1_fun.jsp","${_news}","cpublishDate","${_nowDate}");
    </MACRO>
    <!--#<JREMOVE>
    <east:service beanName="pmsService.pmsDaoImpl.daoBsNewsInfo" methodName="getDefaultPattern"  id="_generatedNo">
      <east:para name="patternStr" value="{seq('TN%09d')}" type="String" />
    </east:service>
    <east:service beanName="eastUtilService" methodName="getDateTime"  id="_nowDateTime">
    </east:service>
    </JREMOVE>#-->
  </s:if>
  <s:else>
    <east:service beanName="pmsService.pmsDaoImpl.daoBsNewsInfo" methodName="getOneByIdAlwaysWithClass"  id="_news">
      <east:para name="tnewsid" value="${requestEx.id}" type="String" />
      <east:para name="className" value="colNews" type="String" />
    </east:service>
  </s:else>
  <MACRO>
    Jsp.call("/bspms_jsp/bspms_funs_html/ajax_set_field1_fun.jsp","${_news}","cnewsTitle","${requestEx.cnewsTitle}");
	Jsp.call("/bspms_jsp/bspms_funs_html/ajax_set_field1_fun.jsp","${_news}","csubNewsTitle","${requestEx.csubNewsTitle}");
	Jsp.call("/bspms_jsp/bspms_funs_html/ajax_set_field1_fun.jsp","${_news}","cspecialTitle","${requestEx.cspecialTitle}");
    Jsp.call("/bspms_jsp/bspms_funs_html/ajax_set_field1_fun.jsp","${_news}","csource","${requestEx.csource}");
    Jsp.call("/bspms_jsp/bspms_funs_html/ajax_set_field1_fun.jsp","${_news}","csummary","${requestEx.csummary}");
    Jsp.call("/bspms_jsp/bspms_funs_html/ajax_set_field1_fun.jsp","${_news}","ccontent","${requestEx.ccontent}");
    Jsp.call("/bspms_jsp/bspms_funs_html/ajax_set_field1_fun.jsp","${_news}","cisShow","${requestEx.cisShow}");
    Jsp.call("/bspms_jsp/bspms_funs_html/ajax_set_field1_fun.jsp","${_news}","cnewsType","${requestEx.cnewsType}");
    Jsp.call("/bspms_jsp/bspms_funs_html/ajax_set_field1_fun.jsp","${_news}","chttpUrl","${requestEx.chttpUrl}");
    Jsp.call("/bspms_jsp/bspms_funs_html/ajax_set_field1_fun.jsp","${_news}","ccoverImage","${requestEx.ccoverImage}");
    Jsp.call("/bspms_jsp/bspms_funs_html/ajax_set_field1_fun.jsp","${_news}","cposition","${requestEx.cposition}");
	Jsp.call("/bspms_jsp/bspms_funs_html/ajax_set_field1_fun.jsp","${_news}","cshowIndex","${requestEx.cshowIndex}");
    
    Jsp.call("/bspms_jsp/bspms_funs_html/ajax_save_bean_fun.jsp" ,"${_news}");
  </MACRO>
</s:if>
  
<s:if test="${hasError eq '0'}">
  {"state":"success"}
</s:if>
<s:else>
  {"state":"failure", "msg":"${msg}"}
</s:else>