<!--#<JREMOVE>#-->  
	修改密码。
<!--#</JREMOVE>#-->

<MACRO>
  Jsp.includejsp("/chamber_jsp/chamber_module_html/erp_login_staff_info.jsp");
  Jsp.result("_loginStaff","_roleFuncMap");
</MACRO>

<east:service beanName="pmsService.pmsDaoImpl.daoBsNewsInfo"   methodName="getBeanOneByClassNameExtColumn" id="_staff">	  	 
	<east:para name="className"  value="colStaff" type="String" />
	<east:para name="fieldName" value="cstaffNo" type="String" />
	<east:para name="fieldValue"   value="${_loginStaff.ext.cstaffNo}"   type="String" />
</east:service>	

<!--#<MACRO>
    Jsp.call("/bspms_jsp/bspms_funs_html/ajax_set_field1_fun.jsp","${_staff}","cpassword","${requestEx.cpassword}");
    Jsp.call("/bspms_jsp/bspms_funs_html/ajax_save_bean_fun.jsp" ,"${_staff}");
</MACRO>#-->
	
{"state":"success"}	
	