<!--#<JREMOVE>
  保存首页轮播图。
</JREMOVE>#-->
<east:service beanName="eastUtilService" methodName="setValue"  id="hasError">
  <east:para name="_value" value="0" type="Object" />
</east:service>
<east:service beanName="eastUtilService" methodName="setValue"  id="msg">
  <east:para name="_value" value="" type="Object" />
</east:service>


<s:if test="${hasError eq '0'}">
  <s:if test="${requestEx.id eq '0'}">
    <east:service beanName="pmsService.pmsDaoImpl.daoBsNewsInfo" methodName="createBeanExByClassName" id="_indexImage">       
      <east:para name="className" value="colIndexImage" type="String" />
    </east:service>
    <!--#<JREMOVE>
	<MACRO>
		Jsp.call("/chamber_jsp/chamber_module_html/common_max_show_index.jsp","colIndexImage");
		Jsp.result("_cshowIndex");
	</MACRO>
    <east:service beanName="pmsService.pmsDaoImpl.daoBsNewsInfo" methodName="getDefaultPattern"  id="_generatedNo">
      <east:para name="patternStr" value="{seq('TN%09d')}" type="String" />
    </east:service>
    <east:service beanName="eastUtilService" methodName="getNowDate"  id="_nowDate">
    </east:service>
    <east:service beanName="eastUtilService" methodName="getDateTime"  id="_nowDateTime">
    </east:service>
    </JREMOVE>#-->
  </s:if>
  <s:else>
    <east:service beanName="pmsService.pmsDaoImpl.daoBsNewsInfo" methodName="getOneByIdAlwaysWithClass"  id="_indexImage">
      <east:para name="tnewsid" value="${requestEx.id}" type="String" />
      <east:para name="className" value="colIndexImage" type="String" />
    </east:service>
  </s:else>
  <MACRO>
    Jsp.call("/bspms_jsp/bspms_funs_html/ajax_set_field1_fun.jsp","${_indexImage}","cimg","${requestEx.cimg}");
    Jsp.call("/bspms_jsp/bspms_funs_html/ajax_set_field1_fun.jsp","${_indexImage}","chttpUrl","${requestEx.chttpUrl}");
    Jsp.call("/bspms_jsp/bspms_funs_html/ajax_set_field1_fun.jsp","${_indexImage}","cisShow","${requestEx.cisShow}");
    Jsp.call("/bspms_jsp/bspms_funs_html/ajax_set_field1_fun.jsp","${_indexImage}","cposition","${requestEx.cposition}");
	Jsp.call("/bspms_jsp/bspms_funs_html/ajax_set_field1_fun.jsp","${_indexImage}","cshowIndex","${requestEx.cshowIndex}");
    
    Jsp.call("/bspms_jsp/bspms_funs_html/ajax_save_bean_fun.jsp" ,"${_indexImage}");
  </MACRO>
</s:if>
  
<s:if test="${hasError eq '0'}">
  {"state":"success"}
</s:if>
<s:else>
  {"state":"failure", "msg":"${msg}"}
</s:else>